In [1]:
import pandas as pd
import us_state_abbrev
statedict = us_state_abbrev.us_state_abbrev

In [2]:
jo = pd.read_csv('./data/jo_statedata.csv',skiprows=4)

In [3]:
jo.shape

(11883, 13)

In [4]:
jo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11883 entries, 0 to 11882
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Period (YYYYMM)            11883 non-null  int64
 1   State                      11883 non-null  object
 2   Region                     11883 non-null  object
 3   Job Openings               11883 non-null  int64
 4   Hires                      11883 non-null  int64
 5   Quits                      11883 non-null  int64
 6   Layoffs & Discharges       11883 non-null  int64
 7   Total Separations          11883 non-null  int64
 8   Job Openings Rate          11883 non-null  float64
 9   Hires Rate                 11883 non-null  float64
 10  Quits Rate                 11883 non-null  float64
 11  Layoffs & Discharges Rate  11883 non-null  float64
 12  Total Separations Rate     11883 non-null  float64
dtypes: float64(5), int64(6), object(2)
memory usage: 1.2+ MB

In [5]:
jo

,Period (YYYYMM),State,Region,Job Openings,Hires,Quits,Layoffs & Discharges,Total Separations,Job Openings Rate,Hires Rate,Quits Rate,Layoffs & Discharges Rate,Total Separations Rate
0,200102,Alabama,S,67,65,39,28,73,3.3,3.3,2.0,1.5,3.8
1,200102,Alaska,W,14,17,8,8,17,4.8,6.1,2.9,2.9,6.1
2,200102,Arizona,W,112,116,52,53,111,4.7,5.1,2.3,2.3,4.8
3,200102,Arkansas,S,43,41,26,19,49,3.6,3.5,2.3,1.6,4.3
4,200102,California,W,664,589,295,253,595,4.3,4.0,2.0,1.7,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11878,202006,Virginia,S,181,170,56,89,153,4.8,4.7,1.5,2.5,4.2
11879,202006,Washington,W,120,162,40,87,132,3.7,5.2,1.3,2.8,4.3
11880,202006,West Virginia,S,37,35,12,23,37,5.4,5.4,1.9,3.5,5.8
11881,202006,Wisconsin,MW,114,136,37,65,111,4.1,5.2,1.4,2.4,4.2
11882,202006,Wyoming,W,16,25,5,16,22,5.9,9.5,1.9,6.1,8.3

### Columns

In [6]:
jo.rename(columns={'Period (YYYYMM)':'Period'}, inplace=True)
jo['State'] = jo['State'].map(statedict)

## Seperating year and month

In [7]:
#first change to datetime
jo['Period'] = pd.to_datetime(jo['Period'], format = '%Y%m')
jo['Year'] = jo['Period'].dt.year
jo['Month'] = jo['Period'].dt.month
jo.drop('Period',axis=1,inplace=True)

dropping years earlier than 2012

In [8]:
jo = jo[jo.Year > 2011]

In [9]:
jo

,State,Region,Job Openings,Hires,Quits,Layoffs & Discharges,Total Separations,Job Openings Rate,Hires Rate,Quits Rate,Layoffs & Discharges Rate,Total Separations Rate,Year,Month
6681,AL,S,60,61,33,33,71,3.0,3.2,1.7,1.8,3.7,2012,1
6682,AK,W,10,11,6,7,14,3.0,3.4,1.9,2.2,4.4,2012,1
6683,AZ,W,79,69,34,32,71,3.1,2.8,1.4,1.3,2.9,2012,1
6684,AR,S,28,34,17,17,38,2.3,2.8,1.4,1.4,3.2,2012,1
6685,CA,W,359,382,171,211,414,2.4,2.6,1.2,1.5,2.8,2012,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11878,VA,S,181,170,56,89,153,4.8,4.7,1.5,2.5,4.2,2020,6
11879,WA,W,120,162,40,87,132,3.7,5.2,1.3,2.8,4.3,2020,6
11880,WV,S,37,35,12,23,37,5.4,5.4,1.9,3.5,5.8,2020,6
11881,WI,MW,114,136,37,65,111,4.1,5.2,1.4,2.4,4.2,2020,6
11882,WY,W,16,25,5,16,22,5.9,9.5,1.9,6.1,8.3,2020,6

In [10]:
jo.to_csv('./data/modified_jos.csv')